<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta http-equiv="X-UA-Compatible" content="IE=EDGE,chrome=1" />

<meta name="viewport" content="user-scalable=yes, width=858, target-densityDpi=device-dpi" />
<title>음악이 필요한 순간</title>

<style type="text/css">
	.review-item {
		cursor:pointer;
	}
	.review-item:hover {
		opacity:0.5;
	}
</style>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
function change(type) {
   if(type == 'about') {
      $("div.inlist").css('display', 'none');
      $("div.about").css('display', '');
      $("div.review").css('display', 'none');
      $("li.inlist").css('color', '#9C9C9C');
      $("li.about").css('color', '#94D143');
      $("li.review").css('color', '#9C9C9C');
   } else if(type == 'inlist') {
      $("div.inlist").css('display', '');
      $("div.about").css('display', 'none');
      $("div.review").css('display', 'none');
      $("li.inlist").css('color', '#94D143')
      $("li.about").css('color', '#9C9C9C');
      $("li.review").css('color', '#9C9C9C');
   } else {
      $("div.about").css('display', 'none');
      $("div.inlist").css('display', 'none');
      $("div.review").css('display', '');
      $("li.inlist").css('color', '#9C9C9C')
      $("li.about").css('color', '#9C9C9C');
      $("li.review").css('color', '#94D143');
   }
}

$(function() {
	
	$(".review-item").click(function() {
		var $pop = $("#review-view-pop").clone();
		var $overlay = $("#overlay");
		
		$overlay.css("width", $(document).width());
		$overlay.css("height", $(document).height());
		
		$overlay.show();
		
		$overlay.click(function() {
			$pop.fadeOut(function() {
				$pop.remove();
			});
			$overlay.fadeOut();
		});
		
		$pop.css("top", ($(document).height() - $pop.height())/2);
		$pop.css("left", ($(document).width() - $pop.width())/2);
		
		$("body").prepend($pop);
		$pop.show();
		
		$pop.find("#comment-write").click(function() {
			$table = $pop.find("#comment-table");
			$tr = $table.find("tr").first().clone();
			$tr.find(".content").text( $("#comment-content").val() );
			$tr.find(".user").text( "글쓴이" );
			$tr.find(".date").text( "2015.02.02" );
			
			$table.append($tr);
			
			$('#comment-scroll').scrollTop($('#comment-scroll')[0].scrollHeight);
			
			$("#comment-content").val("");
		});
		
	});
	
	$("#review-pop-open").click(function() {
		var $pop = $("#review-write-pop").clone();
		var $overlay = $("#overlay");
		
		$overlay.css("width", $(document).width());
		$overlay.css("height", $(document).height());
		
		$overlay.show();
		
		$overlay.click(function() {
			$pop.fadeOut(function() {
				$pop.remove();
			});
			$overlay.fadeOut();
		});
		
		$pop.css("top", ($(document).height() - $pop.height())/2);
		$pop.css("left", ($(document).width() - $pop.width())/2);
		
		$("body").prepend($pop);
		$pop.show();
		
		$("#review-register").unbind();
		$("#review-register").click(function() {
			
			$pop.fadeOut(function() {
				$pop.remove();
			});
			$overlay.fadeOut();
			
		      var title = $("#review-title").val();
		      var content = $("#review-content").val();
		      var ri = $(".review-item").first().clone();
		      ri.find(".title").text(title);
		      ri.find(".content").text(content);
		      $("#review_list").prepend(ri);
		      $("textarea#review-text").val(''); 
		});
	});
	
});
</script>
</head>
<body style="background-color:#282828;">
<div id="wrap">
   <div style="color:white;font-size:40pt; padding-left:40px;">
      <!-- <span style="font-size:20pt;">←</span> -->
      <span>K팝 스타 시즌4 TOP2 Part.1</span>
   </div>
   <div>
      <ul style="color:#9C9C9C; font-size:20pt; font-weight:bold; list-style-type:none;">
         <li class="inlist" style="float:left; color:#94D143; cursor:pointer;" onclick="change('inlist')">수록곡</li>
         <li class="about" style="float:left; padding-left:30px; cursor:pointer;" onclick="change('about')">앨범소개</li>
         <li class="review" style="float:left; padding-left:30px; cursor:pointer;" onclick="change('review')">앨범리뷰</li>
      </ul>
   </div>
   <div style="clear:both; padding-left:40px; padding-top:30px;">
      <div style="width:280px;float:left;">
         <div style="height:280px;background-color:white; overflow:hidden;">
            <img src="http://image.melon.co.kr/cm/album/images/023/13/562/2313562_500.jpg" alt="" style="width:280px; height:280px;"/>
         </div>
         <div style="background-color:#323232; height:340px; padding:15px;">
            <div style="clear:both;">
               <span style="color:white;font-size:15pt;font-weight:bold;">Various Artists</span>
               <span style="float:right;font-size:15pt;font-weight:bold;color:#797979;">></span>
            </div>
            <div style="color:#B9B9B9;font-size:11pt; padding-top:10px;">
               <span>2015.04.12</span><br/>
               <span>Ballad</span>
            </div>
            <div style="padding-top:20px;">
               <span style="color:white;font-size:17pt;font-weight:bold;">좋아요</span>
               <span style="color:#91BC36;font-size:13pt;font-weight:bold;">727</span>
            </div>
         </div>
      </div>
      <div class="about" style="width:375px; float:left; padding-left:30px; color:#BABABA; display:none;">
         <span>SBS 서바이벌 오디션 [K팝스타 시즌4 TOP 2] 생방송 경연곡 출시!!!<br/>
         K팝 스타 시즌 4!!! 무슨 일이 벌어질지 아무도 모른다!!<br/><br/>
         이전 시즌보다도 더 업그레이드 된 실력과 외모를 갖춘 참가자들이 대거 출현하여 큰 이슈를 불러 일으키고 있는 [K팝 스타 시즌4]<br/>
         K팝 스타 시즌 4의 생방송 무대! 치열한 경쟁을 뚫고 올라온 TOP2의 생방송 경연곡 중 2곡이 먼저 출시 된다.<br/><br/>
         케이티김의 너뿐이야 (박진영)<br/><br/>
         정승환의 만약에 말야 (노을 전우성)<br/><br/>
         4월 12일 생방송 무대가 끝난 직후에 공개된 이번 케이티김, 정승환의 TOP.2 경영곡 이외에, TOP.2의 미션 경연곡이 수록되는 [K팝 스타 시즌 4 TOP2 (Part.2)]는 오는 4월 15일 음원사이트를 통해 공개 된다.<br/><br/><br/><br/>
         *발매사 : (주)로엔엔터테인먼트<br/>
         *발매사 : (주)SBS콘텐츠허브<br/>
         </span>
      </div>
      
      <div class="inlist" style="float:left; padding-left:30px;">
         <div style="background-color:#323232; width:330px; height:100px; padding-left:25px; padding-top:10px; margin-bottom:10px;">
            <div style="float:left; width:15px;">
               <span style="color:white; font-size:20pt; font-weight:bold;">1</span>
            </div>
            <div style="float:left; padding-left:25px;">
               <div style="padding-bottom:10px;">
                  <span style="color:white; background-color:#9B9B9B; font-size:8pt; border-radius:10px; padding-left: 7px; padding-right:7px; padding-bottom:2px; padding-top:2px;font-wegiht:bold;">TITLE</span>
                  <span style="color:white; font-size:17pt; font-weight:bold;">너뿐이야</span>
               </div>
               <div><span style="color:#B3B3B3; font-weight:bold;">케이티 김</span></div>
               <div><span style="color:#676767; font-weight:bold;">K팝 스타 시즌4 TOP2 Part.1</span></div>
            </div>
         </div>
         <div style="background-color:#323232; width:330px; height:100px; padding-left:25px; padding-top:10px; margin-bottom:10px;">
            <div style="float:left; width:15px;">
               <span style="color:white; font-size:20pt; font-weight:bold;">2</span>
            </div>
            <div style="float:left; padding-left:25px;">
               <div style="padding-bottom:10px;">
                  <span style="color:white; font-size:17pt; font-weight:bold;">만약에 말야</span>
               </div>
               <div><span style="color:#B3B3B3; font-weight:bold;">정승환</span></div>
               <div><span style="color:#676767; font-weight:bold;">K팝 스타 시즌4 TOP2 Part.1</span></div>
            </div>
         </div>
      </div>
      <div class="review" style="float:left; padding-left:30px; display:none;">
         <div style="height:650px;" id="review_list">
            <div  class="review-item" style="background-color:#323232; width:300px; height:200px; padding-top:10px; margin-bottom:10px;">
               <div style="float:left; padding-left:25px;padding-right:25px;">
                  <div style="height:50px;">
                     <span class="title" style="color:white; font-size:17pt; font-weight:bold;">개인적으로 가사가</span>
                  </div>
                  <div style="height:100px;"><span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고...</span></div>
                  <div class="username" style="bottom:0px; left:0px; color:#B3B3B3; font-weight:bold;">
                  	누구누구 | 2015.01.01
                  </div>
               </div>
            </div>
         </div>
         <div style="position:absolute; top:100px; right: 30px;">
         	<button id="review-pop-open"
						style="width: 60px; height: 30px; border-radius: 10px;">글쓰기</button>
         </div>
      </div>
   </div>
</div>

<div id="review-write-pop"
	style="position: absolute; width: 300px; height: 300px; background-color: #323232; z-index: 100; display:none;">
	<div style="width: 100%; height: 100%;">
		<table style="padding: 10px; width:100%; height:100%;">
			<tr>
				<td><span
					style="float: left; color: #FFFFFF; font-size: 15px; font-weight: bold;">제목:
				</span></td>
				<td><input type="text" id="review-title"
					style="float: left; width: 100%; height: 20px; display: block;" /></td>
			</tr>
			<tr>
				<td><span
					style="color: #FFFFFF; font-size: 15px; font-weight: bold;">내용
						: </span></td>
				<td><textarea id="review-content"
						style="width: 100%; height: 200px; display: block;"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:center;">
					<button id="review-register"
						style="width: 60px; height: 30px; border-radius: 10px;">등록</button>
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="review-view-pop" style="position: absolute; width: 400px; height: 500px; background-color: #323232; z-index: 100; display:none;">
	<div style="padding:10px;">
		<div style="color:white; font-size:30px; padding: 0 0 10px 0;">제목</div>
        <div style="vertical-align:center; height:70px;"><span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고... 이런 좋은 노래가 널리 퍼져야 하는데요.</span></div>
        <div class="username" style="bottom:0px; left:0px; color:#B3B3B3; font-weight:bold;">
        	누구누구 | 2015.01.01
        </div>
        <div id="comment-scroll" style="height:245px; overflow-y:scroll;">
	        <table id="comment-table" style="margin: 20px 0 0 0;">
	        	<colgroup>
	        		<col width="80%" />
	        		<col width="*" />
	        	</colgroup>
	        	<tr>
	        		<td>
				        <div style="background-color:#232323; padding:10px;">
				        	<span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고... 이런 좋은 노래가 널리 퍼져야 하는데요.</span>
				        </div>
	        		</td>
	        		<td>
	        			<div class="writer-date" style="color:#B3B3B3; font-weight:bold;">
	        				<div class="user">누구누구</div>
	        				<div class="date">2015.01.01</div>
	        			</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
				        <div style="background-color:#232323; padding:10px;">
				        	<span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고... 이런 좋은 노래가 널리 퍼져야 하는데요.</span>
				        </div>
	        		</td>
	        		<td>
	        			<div class="writer-date" style="color:#B3B3B3; font-weight:bold;">
	        				<div class="user">누구누구</div>
	        				<div class="date">2015.01.01</div>
	        			</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
				        <div style="background-color:#232323; padding:10px;">
				        	<span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고... 이런 좋은 노래가 널리 퍼져야 하는데요.</span>
				        </div>
	        		</td>
	        		<td>
	        			<div class="writer-date" style="color:#B3B3B3; font-weight:bold;">
	        				<div class="user">누구누구</div>
	        				<div class="date">2015.01.01</div>
	        			</div>
	        		</td>
	        	</tr>
	        	<tr>
	        		<td>
				        <div style="background-color:#232323; padding:10px;">
				        	<span class="content" style="color:#B3B3B3; font-weight:bold;">개인적으로 가사가 너무 자극적이네요. 후렴구도 좋고... 이런 좋은 노래가 널리 퍼져야 하는데요.</span>
				        </div>
	        		</td>
	        		<td>
	        			<div class="writer-date" style="color:#B3B3B3; font-weight:bold;">
	        				<div class="user">누구누구</div>
	        				<div class="date">2015.01.01</div>
	        			</div>
	        		</td>
	        	</tr>
	        </table>
    	</div>
	        	<div style="margin: 10px 0 0 0;">
			        	<textarea id="comment-content" class="content" style="float:left; height:50px; width:298px; font-size: 15px; font-weight:bold;"></textarea>
	        			<button id="comment-write" style="float:left; width:74px; height:55px; padding:5px; font-size:15px; font-weight:bold; border-radius:5px;">댓글 등록</button>
	        	</div>
	</div>
</div>


<div id="overlay"
	style="position: absolute; top: 0; left: 0; background-color: black; opacity: 0.5; z-index: 99; width: 100%; height: 100%; display:none;"></div>

</body>
</html>